server {
    listen 80 deferred backlog=16384 reuseport default_server;
    listen 443 ssl deferred backlog=16384 reuseport http2; # No default_server here unless certificate specified here too.

    server_name  _;
    default_type text/html;
    return 404 '<html><head><title>404 Not Found</title></head><body bgcolor="white"><center><h1>404 Not Found</h1></center><hr><center>default imagery server vhost. Please use correct URL.</center></body></html>';
}
