Grant Slater <openstreetmap@firefishy.com> <git@firefishy.com> <grant.slater@wearefriday.com> <github@firefishy.com>
Guillaume Rischard <git@stereo.lu> <github@stereo.lu>
Jochen Topf <jochen@topf.org> <jochen@remote.org>
