<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

  <form py:match="div[@id='content' and @class='ticket']/form" py:attrs="select('@*')">
    <py:if test="req.environ['PATH_INFO'] == '/newticket' and (not 'preview' in req.args)">
      <p>Before opening a new ticket, please:</p>
      <ol>
        <li>Check that you're in the right place. This is the bug-tracker for many OpenStreetMap related projects but not everything uses this site, so check the following list to make sure there isn't a better place to raise your issue:
          <ul>
            <li>Raise JOSM issues <a href="http://josm.openstreetmap.de/">here</a>.</li>
            <li>Raise JXAPI issues <a href="https://github.com/iandees/xapi-servlet/issues">here</a>.</li>
          </ul>
        </li>
        <li><a href="/report/1?sort=created&amp;asc=1">View the list of tickets</a> to make sure that your bug hasn't already been reported. You should also try <a href="/search">searching</a>.</li>
        <li>Enter your bug descriptively. <i>Be sure you set the 'component' field (e.g. "website" or "potlatch (Flash editor)") so that it goes to the right person</i></li>
      </ol>
      <p>You can also use this to request enhancements.</p>
      <h2>How to be a helpful bug reporter</h2>
      <p>Where you can, always provide "steps to reproduce" - in other words, a series of instructions that the developers can follow to reproduce your bug. The more you can do to pinpoint the problem, the more likely it'll be fixed.</p>
      <ol>
        <li>Give any pertinent details of your system (operating system and version, browser and version, etc.).</li>
        <li>If the problem is with a web page or web application, give its URL. If the problem is encountered with a particular set of data, say what (e.g. a location in <a class="wiki" href="/wiki/OpenStreetMap">OpenStreetMap</a>).</li>
        <li>Explain what you are doing, click-by-click.</li>
        <li>Explain what you expect to happen.</li>
        <li>Explain what is happening instead.</li>
      </ol>
      <script type="text/javascript">
        $(document).ready(function () {
          var c = document.createElement("option");
          $(c).attr("selected", "selected");
          $("#field-component").prepend(c);

          $("#propertyform").submit(function () {
            if ($("#field-component").val() == "") {
              alert("Please select a component!");
              return false;
            } else {
              return true;
            }
          });
        });
      </script>
    </py:if>
    ${select('*')} 
  </form>

</html>
