<html>
<head>
<title>OpenStreetMap Statistics</title>
</head>
<body>
<h1>OpenStreetMap Statistics</h1>
<ul>
<% @sites.each do |site| -%>
<li><a href="/cgi-bin/awstats.pl?config=<%= site[:name] %>">Web site statistics for <%= site[:name] %></a></li>
<% end -%>
<li><a href="https://www.openstreetmap.org/stats/data_stats.html">Database statistics</a></li>
</ul>
</body>
</html>
