#map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.leaflet-control-layers-expanded {
  max-height: 700px;/*less than map height! */
  overflow: auto;
}

@media print {
  .leaflet-control {
    display:none
  }
}
