/* Forms
-----------------------------------------------------------------------------*/

.regForm {
	padding: 0;
	margin: 0;
	max-width: 730px;
}

.regForm fieldset {
	padding: 15px;
	border: 1px solid #747577;
	margin-top: 20px;
}

.regForm legend {
	padding: 0px 10px 0px 5px;
	font-size: 1.1em;
	color: #000000;
}

#regFormHeader {
	border-style: none;
	padding: 0px;
	margin: 10px 0px 2px 0px;
	font-size: 1.2em;
}

#regFormSubHeader {
	font-size: 1em;
	padding: 0px;
	margin: 0px 0px 2px 0px;
	border: none;
}

.regForm fieldset .inputbox {
	padding:0!important;
	padding-top:0!important;
	padding-bottom:0!important;
}

.regForm input {
	color: #747577;
	padding: 6px;
	margin-bottom: 0px;
	margin-top: 0px;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	border:1px solid #ccc;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.regForm textarea {
	color: #747577;
	padding: 6px;
	margin-bottom: 5px;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	border:1px solid #ccc;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.regForm select {
	color: #747577;
	padding: 6px;
	margin-bottom: 5px;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	border:1px solid #ccc;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.regForm button {
	padding: 0px 5px 0px 0px;
}

.regForm ol > li {
	list-style: none;
	background-image: none;
	padding: 3px 0px 5px 0px;
	border-top: 1px solid #f0f0f0;
	color: #747577;
}

.regForm li.formList-top {
	border-top: none;
	font-size: .8em;
	padding: 10px 0px;
}

.regForm li.formList {
	font-size: .8em;
	padding: 10px 0px;
}

.regForm li.opt {
	border-top: 0;
	display: none;
}

.elementItem {
	padding: 0;
	display: block;
	clear: left;
	border-style: none;
}

.elementItemGroup {
	padding: 0;
	margin: 0;
	display: block;
	border-top: 2px solid #C0C0C0;
}

li.elementItemEnd {
	padding: 0;
	display: block;
	clear: left;
	border-style: none;
}

.elementGroup {
	padding: 0;
}

.elementGroup ul {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	padding: 0;
}

.elementGroup li {
	margin: 0;
	margin-left: 0px;
	margin-top: 2px;
	margin-right: 5px;
	padding: 2px 2px 2px 0px;
	border-style: none;
	min-width: 255px;
	list-style: none;
}

.elementGroupEnd {
	border-style: none;
	margin: 0;
	padding: 0;
	height: 1px;
}

.regForm ol {
	margin: 0px;
	padding: 0px;
}

.regForm p {
	font-size: 1.2em;
}

.regForm .error {
	color: #ff0000;
	font-weight: bold;
}

.regForm .required {
	color: #ff0000;
}

.regForm label.element {
	color: #000000;
	padding: 0px 5px 2px 0px;
	margin: 0px;
}

.regForm div.element {
	color: #747577;
	padding: 1px 0px 0px 0px;
}

.regForm div.element label {
	padding: 0px 15px 0px 4px;
}

.regForm input[type="submit"] {
/*	border: 1px solid #f0f0f0;*/
	color: #747577;
	margin: 10px 0px;
}

.regForm input[type="submit"]:hover {
	color: #CCCCCC;
	text-decoration: none;
}

.regForm option {
	color: #747577;
}

.regForm .reqnote {
	font-size: 90%;
	color: #747577;
	font-weight: bold;
}

.regForm input[type="radio"] {
	border: 0;
}

