<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<title type="text" xml:lang="en">OpenStreetMap Forum Update Feed URL</title>
<link type="application/atom+xml" href="https://community.openstreetmap.org/update-feeds.atom" rel="self"/>
<link type="text/html" href="https://community.openstreetmap.org/" rel="alternate"/>
<updated>2023-03-06T22:00:00Z</updated>
<id>urn:uuid:1a19dde4-c98d-42ed-8f63-36674f06036a</id>
<author>
<name>OpenStreetMap Forum</name>
</author>
<rights>Public Domain</rights>
<entry>
<title>Update your Forum Feed URLs</title>
<link href="https://community.openstreetmap.org/"/>
<updated>2023-03-06T22:00:00Z</updated>
<id>urn:uuid:1a19dde4-c98d-42ed-8f63-36674f06036f</id>
<content type="html">forum.openstreetmap.org has been migrated to community.openstreetmap.org. The URLs of the feeds have been updated. Please update your RSS or Atom feed links.</content>
</entry>
</feed>
