<h2>Want to contribute to OpenStreetMap software?</h2>
<p>Head over to <a href="https://github.com/openstreetmap/">github.com/openstreetmap/</a></p>
<p>git.openstreetmap.org is an internal system we use as part of our deployment system.</p>
