<!DOCTYPE html>
<html lang="en">
<head>
<title>tile.openstreetmap.org</title>
<!-- MANAGED VIA CHEF -->
<meta name="robots" content="noindex">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragma" content="no-cache">
</head>
<body>
You've reached the OpenStreetMap.org tile server (<%= node['fqdn'] %>)<br />
<dl>
<dt>If you are a user...</dt>
<dd>You probably want <a href="https://www.openstreetmap.org/">OpenStreetMap</a> itself.</dd>
<dt>If you are a developer...</dt>
<dd>Please be aware of the <a href="https://operations.osmfoundation.org/policies/tiles/">tile usage policy</a>.</dd>
</dl>
</body>
</html>
