<html>
  <body>
    <h4>
      You've reached <a href="https://hardware.openstreetmap.org/servers/faffy.openstreetmap.org/">faffy</a>, the OpenStreetMap dev server.
    </h4>
    <dl>
      <dt>If you are a user...</dt>
      <dd>
        You probably want
        <a href="https://www.openstreetmap.org/">OpenStreetMap</a> itself.
      </dd>
      <dt>If you are a developer...</dt>
      <dd>
        You might be interested in
        <a href="https://apis.dev.openstreetmap.org/">live instances</a> of
        various
        <a href="https://github.com/openstreetmap/openstreetmap-website#readme">Rails Port</a>
        code branches for testing clients against.
      </dd>
      <dt>Request an account</dt>
      <dd>
        Anyone who wants to work on OpenStreetMap-related projects can
        <a href="https://github.com/openstreetmap/operations/issues/new?assignees=Firefishy&labels=faffy%2Cuser+request&template=ACCOUNT-REQUEST.yml&title=%5BAccount+request%5D%3A+">request an account</a>
        on the dev server.
      </dd>
    </dl>
  </body>
</html>
