<html>
<body>
You've reached errol, the OpenStreetMap dev server. <br />
<dl>
<dt>If you are a user...</dt>
<dd>You probably want <a href="https://www.openstreetmap.org/">OpenStreetMap</a> itself.</dd>
<dt>If you are a developer...</dt>
<dd>You might be interested in <a href="https://apis.dev.openstreetmap.org/">live instances</a> of various <a href="https://github.com/openstreetmap/openstreetmap-website#readme">Rails Port</a> code branches for testing clients against.</dd>
</body>
</html>
