name: Cookstyle
on:
  - push
  - pull_request
jobs:
  cookstyle:
    name: Cookstyle
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Setup ruby
      uses: actions/setup-ruby@v1.1.2
    - name: Cache gems
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: bundle-${{ runner.OS }}-${{ hashFiles('Gemfile.lock') }}
        restore-keys: |
          bundle-${{ runner.OS }}-
    - name: Install gems
      run: |
        gem install bundler
        bundle config set deployment true
        bundle install --jobs 4 --retry 3
    - name: Run cookstyle
      run: bundle exec cookstyle --format fuubar
